<!DOCTYPE html>
<html class="no-js" ng-app="testApp" lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test app</title>
    <link rel="localization" href="locales/l20n.json">
    <style>
        div {
            margin: 20px 0;
        }
        div[data-l20n="overlayed"] > strong::after {
            content: " " attr(data-result);
        }
    </style>
</head>

<body>
<p data-l20n="{{ l20nId }}"></p>
<input type="number" ng-model="data.objectsNum">

<div>
    <button ng-show="sandboxLocale !== 'pl'" ng-click="changeLocale('pl')">Wersja polska</button>
    <button ng-show="sandboxLocale !== 'en-US'" ng-click="changeLocale('en-US')">English version</button>
</div>

<div data-l20n="overlayed">
    <strong data-result="({{ data.testNumber }})"></strong>
    <input type="number" ng-model="data.testNumber">
</div>

<script src="../node_modules/ee-l20n/dist/html/l20n.js"></script>
<script src="../node_modules/angular/angular.js"></script>

<script src="app.js"></script>
<script src="../src/ng-l20n.js"></script>
</body>
</html>

